$font-size-base:            14px;

$color-lightgray:           #f7f7f7;
$color-gray:                #ebebeb;
$color-azure:               #5bc2e7;
$color-yellow:              #ffc600;
$color-red:                 #ff585d;
$color-green:               #2dc84d;
$color-city-gray:           #869cae;
$color-darkgray:           #181818;

$smartphone-min-max-width:  320px;
$smartphone-max-width:      767px;
$tablet-min-width:          768px;
$desktop-min-width:         992px;
$desktop-wide-min-width:    1200px;

$ease:                      ease;
$ease-bezier-out:           cubic-bezier(.19,.5,.46,.88);
$ease-bezier-in-out:        cubic-bezier(.77,0,.175,1);
